<div id="content">
<div id="aboutfossnepal">
<h2>About FOSS NEPAL Community</h2>
<p>The <a href="http://www.fossnepal.org/">FOSS NEPAL Community</a> is a team of volunteers who believe in the usage of Free/Open Source Software (FOSS). The primary objective of the community is to promote and diversify the usage of Free/Open Source Software in Nepal. </p>
<ul>
  <li> To raise awareness among general public, government bodies,  private sector, civil society, educational institutions and media for  expanding the scope of Information and Communication Technology (ICT)  via Free and Open Source Software </li>
  <li> To sensitize general public, government bodies, civil  society and media for the implementation of e-governance by means of  FOSS; the optimal solution for e-governance </li>
  <li> Advocacy for alternatives in Intellectual Property Rights (IPR) specific to ICT </li>
  <li> To enhance the capacity of IT professionals by promoting  inclusion of Free and Open Source Software in educational system and  providing platform for IT professionals to make them globally salable </li>
  </ul>
<h2>What does the FOSS Nepal do?</h2>
<p>For the FOSS Nepal to <b>"collaborate"</b>, we have :</p>
<dl>
<dt>Regular meetings</dt>
<dd>
<p>We have general meetings, core meeting and event specific meetings. You can see our meeting minutes in : <a href="http://wiki.fossnepal.org/index.php?title=Main_Page">http://wiki.fossnepal.org/index.php?title=Main_Page</a></p>
</dd>
<dt>FOSS Ka Kura</dt>
<dd>
<p><strong> FOSS Ka Kura a.k.a FKK is a monthly open-discussion program organized by <a href="http://www.fossnepal.org" title="http://www.fossnepal.org" rel="nofollow">FOSS Nepal Community</a>, where we can discuss about FOSS, FOSS applications, Localization, Open Source, Linux, etc.</strong> The main objectives of this program is to create public awareness about  FOSS applications and developing a Free/Open Source Community in Nepal.  The Open Source Community could involve a wide range of people ranging  from experts, enthusiasts, FOSS advocates and so on.  </p>
<p>This program was formerly known as <a href="http://nepalinux.org/content/view/21/41/" title="http://nepalinux.org/content/view/21/41/" rel="nofollow">Linux Ka Kura</a> and was organized by <a href="http://www.mpp.org.np" title="http://www.mpp.org.np" rel="nofollow">Madan Puraskar Pustakalaya (MPP)</a>. The program is currently handled by the IOE FOSS Community, Pulchowk Campus.</p>
<p>Visit the link below to see when is next FKK</p>
<p><a href="http://wiki.fossnepal.org/index.php?title=FOSS_Ka_Kura">http://wiki.fossnepal.org/index.php?title=FOSS_Ka_Kura</a></p>
</dd>
<dt>FOSS Nepal Mailing lists</dt>
<dd>
<p>There are two official mailing lists :</p>
<ul>
<li>A &quot;foss-nepal-committee&quot;  email list is used by the core team members to discuss serious, official, administrative matters. </li>
<li>A foss-nepal discussion mailing list where persons can discuss FOSS  matters/activities and computer related material/issues in Nepal. This is a 2 way list (if one person sends mail to the list, everyone subscribed to the list receives it). The mailing list is free to the public.</li>
<ul>
<li>Mailing list archive : <a href="http://groups.google.com/group/foss-nepal">http://groups.google.com/group/foss-nepal</a></li>
<li>To subscribe, send a blank email message to: foss-nepal+subscribe@googlegroups.com  </li>
</ul>
</ul>
</dd>
<dt>FOSS Nepal website</dt>
<dd>
<p>The official FOSS Nepal website is at <a href="http://www.fossnepal.org/">http://www.fossnepal.org/</a>. </p>
</dd>
<dt>FOSS Nepal at IRC</dt>
<dd>
<p>IRC Channel: # FOSS-nepal on irc.freenode.net</p>
</dd>
<dt>FOSS Nepal group on Facebook</dt>
<dd>
<p>The FOSS Nepal Community created a group on the social network <a href="http://www.facebook.com/">Facebook</a>. Group name is: <span class="style1">FOSS Nepal Community</span></p>
<p>Announcements on upcoming events will be posted there.</p>
</dd>
<dt>FOSS Nepal's Nirvikalpa CD</dt>
<dd>
<p>Nirvikalpa is a compilation of open source software for Windows. Its a starting release 1.0 beta. we have lot to improve. </p>
<p>This cd has been derived from Nirvikalpa CD 1.0. In addition it has some more applications like unicodify, nepali unicode layouts, openoffice.org in nepali, etc. </p>
</dd>
<dt>How to Join the FOSS Nepal Community?</dt>
<dd>
<p>To join the FOSS Nepal:</p>
<ul>
<li>join our FOSS Nepal general email list by send a blank email message to: foss-nepal+subscribe@googlegroups.com. This two way list is used to discuss among members about latest open source updates, upcoming meetings and other Society activities.</li>
<li>Second, attend as many meetings as possible and help the FOSS Nepal Community in whatever way you can.</li>
</ul>
<p>The FOSS Nepal Community email address is <a href="mailto:info@fossnepal.org">info@fossnepal.org</a></p>
</dd>
</dl>
</div>
</div>

