<div id="content">
<div id="toggleable">
<div id="intro">
<h2>Introduction</h2>
<p><a href="http://wiki.fossnepal.org/index.php?title=Nirvikalpa">Nirvikalpa CD 2.0 </a>is a collection of more than 80 Free/Open Source software for home and business users using the Microsoft Windows® 2000, XP, Vista (and to a lesser extent Microsoft Windows® 98SE/Me) operating systems. It has been derived from the <a href="http://www.ttcsweb.org/osswin">TTCS OSSWIN.</a></p>
<br/>
<p>You can use your web browser to read detailed information about each program on the CD: what the program does, its key features, useful related websites, view a screenshot, find links to the program's website and to download/install the program from the Nirvikalpa CD 2.0.</p>
<p>This web-based interface allows you to quickly browse the variety of software organised into the following categories:</p>
<ul>
<li>Desktop Applications</li>
<li>Educational</li>
<li>Games</li>
<li>Graphics</li>
<li>Internet</li>
<li>Server</li>
<li>Sound and Video</li>
<li>Utilities</li>
</ul>
<p>Please read the <span class="link" onclick="return loadPage('nirvikalpa_disclamer');" >disclaimer</span> <b>before</b> using any of the software on this CD.</p>
<br/>
<p>ALL of the software distributed on the <em>Nirvikalpa CD 2.0</em> is distributed under the terms of various Open Source licences. By installing, copying, downloading, accessing or otherwise using the software, you agree to be bound by the terms of these licences. If you do not agree to/with the terms of these licences, you may not use or copy the software.</p>
</div>
<div id="requirements">
<h2>Hardware/Software Requirements</h2>
<p>This collection of open source software is intended for use on the following versions of Windows®: Windows XP/2000/Me/98SE. Some software can only run on Windows XP/2000. The software on the CD may or may not run on Windows 95, Windows 98 (first edition) or Windows NT. The software <b>will not</b> run on Windows 3.1.</p>
<p>The software requirements for each program/application varies but if your Windows PC is already running a program that falls in one of the aforementioned categories, it can probably run the programs listed under that category.</p>
<p>Your computer should have these minimum system requirements:</p>
<ul>
<li>Windows® Vista/XP/2000/Me/98SE.</li>
<li>A 300MHz or faster Intel or AMD Athlon processor/CPU.</li>
<li>128MB or more of RAM.</li>
<li>Hard drive space: 1.5GB (for installing all of the applications) plus additional space (as needed) for data.</li>
<li>Video: 32MB (or higher) video card which supports Direct X 8.1 OR Direct X 9 and has OpenGl support (for the games).</li>
<li>Sound: Direct X compatible sound card.</li>
<li>A CD-ROM OR DVD-ROM drive, keyboard and mouse.</li>
<li>A web browser (to view the descriptions on this CD). See the <span class="link" onclick="return loadPage('nirvikalpa_howto');">How to use the CD</span> section for browser recommendations.</li>
</ul>
</div>
</div>
</div>
